<!DOCTYPE html>
<html>
  <head>
    <h1>All Articles</h1>
  </head>
  <body>
    <% @articles.each do |article| %>
          <h2><%= article.title %></h2><br>
          <p><%= article.content %></p><br>
    <% end %>
  </body>
</html>