<h1>All articles:</h1>
<% @articles.each do |article| %>
<li>
  <a href="/articles/<%= article.id %>">
    <%= article.title %>
  </a>
</li>
<% end %>
<br>
<br>
<a href="/articles/new">Create an Article</a>
