<form method="POST" action="/articles">
<h1>Create a New Article</h1>
<p><label>Title: <input type="text" id="title" name="article[title]" /></label><br /></p>
<p><label>Content: <input type="text" id="content" name="article[content]" /></label><br /></p>
<button type="submit" id="submit" />Submit
</form>

<!--
<p><label>Content: <textarea id="content" name="article[content]" /></textarea><br /></p>
-->