<!DOCTYPE html>

<html>
  <h1>ARTICLE FORM</h1>
  <form method="post" action="/articles">
    <label>Article Title: </label><br>
    <input type="text" id="article_title" name="title" value=""></p>
    
    <label>Article Content: </label><br>
    <textarea id="content" name="content" rows="4" cols="50" value=""></textarea></p>
    
    <p><input type="submit" id="submit" value="submit"></p>
  </form>
</html>